<!DOCTYPE html>
<html>

    <head>
        <title>Fixed Income Securities</title>
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>

    <body>
        <div id="app">
            <header>
                FISH Group ( <span id="mouseX" class="bgtrans"></span> , <span id="mouseY" class="bgtrans"></span> )
                <img @click="changeMenuShow" class="menuBtn"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABVUlEQVR4Xu1YOwrCQBDdiZWNQohnsLDwBoIIxtIzGDyVBs9gacADiI0HECxFRDStkKw3cA0Z1gzzUoeZt2/efMko/0j5+w0IgAKUM4AUUC4AFEGkAFJAOQNIAeUCcHeBcJKcKDBDiUSVZLbPLJ1/w+5MARAABSAFUANUF8HeNBlZE3QkdgFbmNtjvzrW6gISH14Fs7MNVjEm8V8QIDFqnJihAE42JdqCAiRGjROzUwFhvBwEZdHmdOrLFgX0uu/Sc61BCOsw1mGsw1iHVa/D6otgNFv0qWiJbINvsnmerS+12qCvnv0vP85B6F/AfPkFAb6YbqofKKCpkfGFCwrwxXRT/TgVEMWLsbXUbeoDvuMqr49sc6g1CKkfhUEADiI4iOAgovogIrP9/Y7aOQf8bkrmnyBAZtz4UEMBfFzKtAQFyIwbH2oogI9LmZagAJlx40OtXgEfUC+LQbV3zEEAAAAASUVORK5CYII=">
                <div class="menu" :style="width" v-show="menuShow">
                    <input type="button" value="Home" class="bgtrans menuInnerBtn" @click="changeRightShow(1)">
                    <input type="button" value="Codes" class="bgtrans menuInnerBtn" @click="changeRightShow(2)">
                    <input type="button" value="Paper" class="bgtrans menuInnerBtn" @click="changeRightShow(4)">
                    <input type="button" value="Group" class="bgtrans menuInnerBtn" @click="changeRightShow(3)">
                </div>
            </header>
            <main>
                <div class="left">
                    <div id="charts" :style="halfheight"></div>
                </div>
                <div class="right" :style="height">
                    <!-- Home -->
                    <div class="right-parameters" v-show="homeShow">
                        <p>Nelson Siegel Model</p>
                        <br />
                        <form id="form001">
                            <p>Adjust Parameters</p>
                            <br />
                            <label for="tau">τ (tau)</label>
                            <input id="tau" type="text" v-model="tau" class="bgtrans">
                            <br />
                            <label for="beta0">β0 (beta0)</label>
                            <input id="beta0" type="text" v-model="beta0" class="bgtrans">
                            <br />
                            <label for="beta1">β1 (beta1)</label>
                            <input id="beta1" type="text" v-model="beta1" class="bgtrans">
                            <br />
                            <label for="beta2">β2 (beta2)</label>
                            <input id="beta2" type="text" v-model="beta2" class="bgtrans">
                            <br />
                            <label for="rs">RSquare</label>
                            <input id="rs" type="text" v-model="rsquare" class="bgtrans">
                            <br />
                            <label for="ds">DataSet</label>
                            <input id="ds" type="text" v-model="dataSet" class="bgtrans">
                            <br />
                            <label for="rowNo">Date (row)</label>
                            <input id="rowNo" type="text" v-model="rowNo" class="bgtrans">
                            <br />
                            <input type="button" value="getOne" class="bgtrans btn" @click="getOne()"
                                title="get one row condition">
                            <input type="button" value="getAll" class="bgtrans btn" @click="getAll()"
                                title="get optimal parameters">
                            <input type="button" value="postOne" class="bgtrans btn" @click="postOne()"
                                title="try one group of parameters">
                            <input type="button" value="Reset" class="bgtrans btn" @click="clear()">
                        </form>
                        <p v-text="history"></p>
                    </div>
                    <!-- NS Model -->
                    <div class="right-codes" v-show="modelShow">
                        <iframe src="./code.html" class="frame"></iframe>
                    </div>
                    <div class="right-paper" v-show="paperShow">
                        <embed src="./static/NSModel.pdf" type="application/pdf" width="100%" height="100%" />
                    </div>
                    <!-- team -->
                    <div v-show="teamShow">
                        <p>Fixed Income Securities Happy Group (FISH Group)</p>
                        <br />
                        <div class="team">
                            <div>
                                <p>Shark</p>
                                <img src="./static/shark.png" width=100>
                            </div>
                            <div>
                                <p>Shark</p>
                                <img src="./static/shark.png" width=100>
                            </div>
                            <div>
                                <p>Shark</p>
                                <img src="./static/shark.png" width=100>
                            </div>
                            <div>
                                <p>Shark</p>
                                <img src="./static/shark.png" width=100>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
        <script src="./index.js" async="async"></script>
        <script src="./control.js"></script>
    </body>

</html>