<!DOCTYPE html>
<html>

    <head>
        <title>Fixed Income Securities</title>
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>

    <body>
        <div id="app">
            <header>
                <p title="Fixed Income Security Happy Group">FISH Group ( <span id="mouseX" class="bgtrans"></span> , <span id="mouseY" class="bgtrans"></span> )</p>
                <img @click="changeMenuShow" class="menuBtn"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABVUlEQVR4Xu1YOwrCQBDdiZWNQohnsLDwBoIIxtIzGDyVBs9gacADiI0HECxFRDStkKw3cA0Z1gzzUoeZt2/efMko/0j5+w0IgAKUM4AUUC4AFEGkAFJAOQNIAeUCcHeBcJKcKDBDiUSVZLbPLJ1/w+5MARAABSAFUANUF8HeNBlZE3QkdgFbmNtjvzrW6gISH14Fs7MNVjEm8V8QIDFqnJihAE42JdqCAiRGjROzUwFhvBwEZdHmdOrLFgX0uu/Sc61BCOsw1mGsw1iHVa/D6otgNFv0qWiJbINvsnmerS+12qCvnv0vP85B6F/AfPkFAb6YbqofKKCpkfGFCwrwxXRT/TgVEMWLsbXUbeoDvuMqr49sc6g1CKkfhUEADiI4iOAgovogIrP9/Y7aOQf8bkrmnyBAZtz4UEMBfFzKtAQFyIwbH2oogI9LmZagAJlx40OtXgEfUC+LQbV3zEEAAAAASUVORK5CYII=">
                <div class="menu" :style="width" v-show="menuShow">
                    <input type="button" value="Home" class="bgtrans menuInnerBtn" @click="changeRightShow(1)">
                    <input type="button" value="Codes" class="bgtrans menuInnerBtn" @click="changeRightShow(2)">
                    <input type="button" value="Data2019" class="bgtrans menuInnerBtn" @click="changeRightShow(5)">
                    <input type="button" value="Data2020" class="bgtrans menuInnerBtn" @click="changeRightShow(6)">
                    <input type="button" value="Paper" class="bgtrans menuInnerBtn" @click="changeRightShow(4)">
                    <input type="button" value="Project" class="bgtrans menuInnerBtn" @click="changeRightShow(3)">
                </div>
            </header>
            <main style="overflow-y: hidden;">
                <div class="left">
                    <div id="charts" :style="halfheight"></div>
                </div>
                <div class="right" :style="height">
                    <!-- Home -->
                    <div class="right-parameters" v-show="homeShow">
                        <p>Nelson Siegel Model</p>
                        <input type="button" :value="engine" class="bgtrans btn" @click="changeEngine()">
                        <br />
                        <form id="form001">
                            <p>Choose Data</p>
                            <label for="ds">DataSet</label>
                            <input id="ds" type="text" v-model="dataSet" class="bgtrans">
                            <br />
                            <label for="rowNo">Date (row)</label>
                            <input id="rowNo" type="text" v-model="rowNo" class="bgtrans">
                            <br />
                            <input id="autoNS" type="button" value="Fit NS(Auto)" class="bgtrans btn" @click="getOne()"
                                title="get one row condition">
                            <input id="autoNSS" type="button" value="Fit NSS(Auto)" class="bgtrans btn" @click="getNSSOne()"
                                title="get one row condition" hidden>
                            <br />
                            <br />
                            <p>Parameters</p>
                            <label for="tau0">τ0 (tau0)</label>
                            <input id="tau0" type="text" v-model="tau0" class="bgtrans">
                            <br />
                            <label id="tau1label" for="tau1" style="display: none;">τ1 (tau1)</label>
                            <input id="tau1" type="text" v-model="tau1" class="bgtrans" hidden>
                            <br />
                            <label for="beta0">β0 (beta0)</label>
                            <input id="beta0" type="text" v-model="beta0" class="bgtrans">
                            <br />
                            <label for="beta1">β1 (beta1)</label>
                            <input id="beta1" type="text" v-model="beta1" class="bgtrans">
                            <br />
                            <label for="beta2">β2 (beta2)</label>
                            <input id="beta2" type="text" v-model="beta2" class="bgtrans">
                            <br />
                            <label id="beta3label" for="beta3" style="display: none;">β3 (beta3)</label>
                            <input id="beta3" type="text" v-model="beta3" class="bgtrans" hidden>
                            <br />
                            <label for="rs">ΔY^2</label>
                            <input id="rs" type="text" v-model="rsquare" class="bgtrans">
                            <br />
                            <input type="button" value="getAll" class="bgtrans btn" @click="getAll()"
                                title="get optimal parameters" hidden>
                            <input id="manualNS" type="button" value="Fit NS(Manual)" class="bgtrans btn" @click="postOne()"
                                title="try one group of parameters">
                            <input id="manualNSS" type="button" value="Fit NSS(Manual)" class="bgtrans btn" @click="postNSSOne()"
                                title="try one group of parameters" hidden>
                            <input type="button" value="Reset" class="bgtrans btn" @click="clear()">
                        </form>
                        <p v-text="history"></p>
                    </div>
                    <!-- NS Model -->
                    <div class="right-codes" v-show="modelShow">
                        <iframe src="./code.html" class="frame"></iframe>
                    </div>
                    <!-- paper -->
                    <div class="right-paper" v-show="paperShow">
                        <embed src="./static/NSModel-Paper.pdf" type="application/pdf" width="100%" height="100%" />
                    </div>
                    <!-- data2019 -->
                    <div class="right-paper" v-show="data2019Show">
                        <embed src="../Server/data/Treasury_2019_Full.xlsx" type="application/pdf" width="100%"
                            height="100%" />
                    </div>
                    <!-- data2020 -->
                    <div class="right-paper" v-show="data2020Show">
                        <embed src="../Server/data/Treasury_2020_1To11.xlsx" type="application/pdf" width="100%"
                            height="100%" />
                    </div>
                    <!-- project -->
                    <div v-show="teamShow" style="overflow-y: hidden;height:100%">
                        <embed src="./static/NSModel-PPT.pdf" type="application/pdf" width="100%" height="100%"  />
                        <div style="display: none;">
                            <section>
                                <p>Fixed Income Securities Happy Group (FISH Group)</p>
                                <br />
                                <div class="team">
                                    <div>
                                        <p>Dezhi Yang</p>
                                        <img src="./static/shark.png" width=100>
                                    </div>
                                    <div>
                                        <p>Hui Tang</p>
                                        <img src="./static/shark.png" width=100>
                                    </div>
                                    <div>
                                        <p>Zenan Lin</p>
                                        <img src="./static/shark.png" width=100>
                                    </div>
                                    <div>
                                        <p>Yizhe Zhang</p>
                                        <img src="./static/shark.png" width=100>
                                    </div>
                                </div>
                            </section>
                            <br />
                            <hr />
                            <br />
                            <section>
                                <p>Project Goal</p>
                                <br />
                                <div style="text-align: left">
                                    <p>Model: Nelson-Siegel Model</p>
                                    <p>Goal: Estimate the Level, Slope, and Curvature of Term Structure</p>
                                    <p>Data1: use first 11 months data to estimate November 30, 2020</p>
                                    <input type="button" value="Data2019" @click="changeRightShow(5)">
                                    <p>Data2: use all-year 2019 data to estimate December 31, 2019</p>
                                    <input type="button" value="Data2020" @click="changeRightShow(6)">
                                    <br />
                                    <a style="color: gold;font-size: 0.8em;"
                                        href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=billrates">
                                        * Data from U.S. DEPARTMENT OF THE TREASURY
                                    </a>
                                </div>
                            </section>
                            <br />
                            <hr />
                            <br />
                            <section>
                                <p>Nelson-Siegel Model</p>
                                <br />
                                <img src="./static/NSModel.png" />
                                <div style="text-align: left;">
                                    <p>y(t) = beta0+beta1*part1+beta2*(part1-part2)</p>
                                    <p>part1 = (1-part2)/part3</p>
                                    <p>part2 = math.e**(-part3)</p>
                                    <p>part3 = T/tau</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
        <script src="./index.js" async="async"></script>
        <script src="./control.js"></script>
    </body>

</html>