*{
    margin:0;
}

#app{
    background-color: beige;
    color:gold;
}

html,body,#app,main,.scroll,.left,.right{
    width:100%;
}

/* 头部 */
header{
    top:0;
    background-color:rgba(0,0,0,1);
    text-indent: 2%;
    font-size: 1.5em;
    position: fixed;
    width:100%;
    height:64px;
    line-height: 64px;
    z-index: 10;
}

.menuBtn{
    float: right;
}

.menu{
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}

.menuInnerBtn{
    border:none;
    font-size: large;
    height: 64px;
    width: 100px;
    /* line-height: 64px; */
}

/* 底部 */
footer{
    background-color:rgba(0,0,0,0.8);
    text-align: center;
    font-size: 1.5em;
    position: relative;
    width:100%;
    height:auto;
    line-height: 64px;
}

/* 中间部分 */
main{
    margin-top:64px;
    display: flex;
    justify-content: center;
    height: 100%;
}

/* 中间左部 */
.left{
    border-right: 5px solid rgba(0,0,0,0.8);
    padding-top: 64px;
}

#charts{
    width:100%;
}

/* 中间右部 */
.right{
    background-color:rgba(0,0,0,0.8);
    font-size: 1.25em;
    text-align: center;
    padding-top: 64px;
}

/* 右部调参部件 */
.right-parameters{
    box-shadow:10px 10px 10px 10px rgba(0,0,0,0.8);
    width:70%;
    margin: 32px auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* 右部代码组件 */
.right-codes{
    height:100%;
    top:64px;
}

.frame{
    width:100%;
    height:100%;
    border:none;
}

/* 团队组件 */
.team{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 通用样式 */
.bgtrans{
    background-color: transparent;
    color:gold;
}

label{
    width:100px;
    display: inline-block;
}

.btn{
    width:30%;
    height:3em;
    margin-top: 20px;
}

